@import url(https://fonts.googleapis.com/css?family=Lato);
body {
  margin: 0 auto;
  padding: 1em;
  background: #e5e5e5;
  font-family: 'Lato', sans-serif;
}
a {
  color: cornflowerblue;
  font-weight: 700;
}
table {
  width: 100%;
  color: #333;
}
th, td {
  text-align: left;
  padding: 0.5em;
}
td {
  padding: 0.75em;
  border: 1px solid #bababa;
}
.filter-wrapper {
  float: left;
  display: inline-block;
  margin-right: 5px;
}
.filter-wrapper label {
  display: block;
}
input {
  width: 130px;
  padding: 5px;
  margin-bottom: 10px;
}
button {
  width: 130px;
  padding: 5px;
}
.filter-wrapper button {
  margin-top: 15px;
}
#txtfooter{
	text-align: center;
}